body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

.merchant-logo{
  padding-right: 20px;
}

#root{
  display: flex;
  justify-content: center;
}

table{
  width: 60%;
  border: 1px solid lightgray;
}

tr{
  border: 1px solid lightgray;
}

tr:hover{
  background-color: #eaeaea;
}
